body {

	background-image: url(../img/background.jpg);
	padding-top:75px;
}
@media (max-width:768px) {
	body,html{

		margin-top: 0;
	}
}
.splash {
	height: 108px;
}

.ev-label > h1{

	font-size: 60px;
	vertical-align: bottom;
	text-align: right;
	margin-bottom:12px;
}

#carousel > div {
	margin : 0 auto;
	width: 640px;
	height: 420px;

}


#carousel {
	margin : 0 auto 40px auto;
	padding: 7px;
	overflow: hidden;
	max-width: 640px;
	max-height: 420px;
	background-color: @black;
	.border-radius(6px);
}
.hero-unit {
	margin-top:50px;
}
@media (max-width: 920px) {
	.hero-unit {
		margin-left: 200px
	}
}
@media (max-width: 654px) {

	#carousel img {

		width : 320px;
	}
	#carousel {

		max-width : 320px;
		max-height : 210px;
	}
	#carousel > div {
		width : 320px;
		height : 210px;
	}
}

.belly {
	height : 900px;
}
.sponsors {
	border: 1px solid #111;
}
@import "bootstrap.less";