// HERO UNIT
// ---------

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  background-color: @heroUnitBackground;
  .border-radius(6px);
  h1 {
    margin-bottom: 0;
    font-size: 100px;
    line-height: .8;
    color: @heroUnitHeadingColor;
    letter-spacing: -1px;
  }
  h2 {
    margin-bottom: 2px;
    font-size: 60px;
    small {

      font-size: 22px;
    }

  }
  h3 {
    font-size: 42px;
    margin-top: 2px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    line-height: @baseLineHeight * 1.5;
    color: @heroUnitLeadColor;
  }
}
