{% extends "base.html" %}
{% load i18n %}
{% load url from future %}


{% block content %}

<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

<p><a href="/accounts/login">{% trans 'Log in again' %}</a></p>

{% endblock %}
