{% load staticfiles %}
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>Bay Area Convention of the Tattoo Arts SFO 2012</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">

  <!-- Le styles -->
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <!-- <style>
  body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  </style> --> 
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link href="{% static "ico/favicon.ico" %}" rel="shortcut icon">
  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href="{% static "ico/apple-touch-icon-114-precomposed.png" %}" sizes="114x114" rel="apple-touch-icon-precomposed">
  <link href="{% static "ico/apple-touch-icon-72-precomposed.png" %}" sizes="72x72" rel="apple-touch-icon-precomposed">
  <link href="{% static "ico/apple-touch-icon-57-precomposed.png" %}" rel="apple-touch-icon-precomposed">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#top">2012 Bay Area Tattoo Convention</a>
          <div pull-right="" class="nav-collapse pull-left">
            <ul class="nav">
              <li class="active"><a href="#top">Home</a></li>
              <li><a href="#artists">Artists</a></li>
              <li><a href="#about">Location</a></li>
              <li><a href="#sponsors">Sponsors</a></li>
              <li><a href="#press">Press</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



  <div class="container">

      {% block primary %}{% block content %}

      <div class="row well">
          <h1>8th Annual Bay Area Convention of the Tattoo Arts | Location </h1>
        </div>

          <div class="row">
            <div class="well">
              <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1333+Bayshore+Highway+Burlingame,+CA+94010&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=64.92025,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=1333+Bayshore+Hwy,+Burlingame,+California+94010&amp;t=m&amp;ll=37.603828,-122.372589&amp;spn=0.03264,0.094328&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1333+Bayshore+Highway+Burlingame,+CA+94010&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=64.92025,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=1333+Bayshore+Hwy,+Burlingame,+California+94010&amp;t=m&amp;ll=37.603828,-122.372589&amp;spn=0.03264,0.094328&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
          </div>
          <br />

          <div class="row well">
            <h1>Hotel Information</h1>
            <p>Ut ultricies sagittis neque ac mattis. Aenean ac nibh dui. Sed ornare, enim a eleifend malesuada, elit mauris consectetur risus, sit amet mattis augue libero a mi. Maecenas luctus diam sem. Quisque scelerisque condimentum cursus. Curabitur vitae augue id erat pulvinar cursus ut et urna. Morbi et arcu nec eros porttitor tincidunt. Curabitur eu metus eget turpis fringilla mollis a at tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse enim dolor, tempus nec iaculis ut, congue vitae erat.</p>
          </div>

      {% endblock %}{% endblock %}

    </div> <!-- /container -->

    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap-transition.js" %}"></script>
    <script src="{% static "js/bootstrap-alert.js" %}" ></script>
    <script src="{% static "js/bootstrap-modal.js" %}" ></script>
    <script src="{% static "js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "js/bootstrap-tab.js" %}"></script>
    <script src="{% static "js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "js/bootstrap-popover.js" %}"></script>
    <script src="{% static "js/bootstrap-button.js" %}"></script>
    <script src="{% static "js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "js/bootstrap-typeahead.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>

  

</body></html>