{% extends 'base-adm.html' %}

{% block primary %}


<table class="table table-striped">
    <thead>
        <tr>
            <th><a href="{% url web_site.apps.sponsors.views.add_sponsor %}"><i class="icon-plus"></i></a></th>
            <th></th>
            <th>Sponsor</th>
            <th>Bio</th>
            <th>Website</th>
            <th>Logo</th>
           
        </tr>
    </thead>
        <tbody>
            {% for sponsor in sponsors %}
            <tr>
                <td><a href="delete/{{sponsor.pk}}"><i class="icon-remove"></i></a> </td>
                <td><a href="edit/{{sponsor.pk}}"><i class="icon-edit"></i></a></td>
                <td>{{sponsor.name}}</td>
                <td>{{sponsorshop}}</td>
                <td><a href="{{sponsor.website}}" target="_blank">{{sponsor.website}}</a></td>
                <td><img src="{{ MEDIA_URL }}{{sponsor.logo}}">{{sponsor.logo}}</td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>

{% endblock %}
