{% extends 'base-adm.html' %}

{% block primary %}

<h1>Admin Site</h1>

<p>The above links are in regards to the items that are available to be edited.</p>

<p>Artists allows you to add/edit/delete visiting artists.</p>
<p>Sponsors allows you to add/edit/delete sponsors.</p>
<p>Articles allows you to add/edit/delete articles.</p>
<p>Pages allows you to add pages to articles.</p>
<p>[view site] will take you to the home page.</p>

<p>Any questions, just ask. Any issues, please let me know. </p>

<p>I call this version 1.5. There are a few changes in regards to the admin layout/design/functionality I'd like to change, but the core functionality is likely to persist unless otherwise needed/requested. </p>




{% endblock %}