{% extends 'base-adm.html' %}

{% block primary %}

<table class="table">
    <thead>
        <tr>
            <th><a href="{% url web_site.apps.artists.views.add_artist %}"><i class="icon-plus"></i></a></th>
            <th></th>
            <th>Artist</th>
            <th>Shop</th>
            <th>Website</th>
            <th></th>
           
        </tr>
    </thead>
        <tbody>
            {% for artist in artists %}
            <tr>
                <td><a href="delete/{{artist.pk}}"><i class="icon-remove"></i></a> </td>
                <td><a href="edit/{{artist.pk}}"><i class="icon-edit"></i></a></td>
                <td>{{artist.name}}</td>
                <td>{{artist.shop}}</td>
                <td><a href="{{artist.website}}" target="_blank">{{artist.website}}</a></td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>

{% endblock %}
