<table class = "table">
	<thead>
		<tr>
			<th>Publication Title</th>
			<th>Publication</th>
			<th>Year</th>
			<th>Thumbnail</th>
		</tr>
	</thead>
		<tbody>
			{% for article in articles %}
			<tr>

				<td>{{article.title}}</td>
				<td>{{article.publication}}</td>
				<td>{{article.year}}</td>
				<td><a href="{{article.Page.article}}" style="align:right;"><img src="{{ MEDIA_URL }}{{article.thumbnail}}"></a></td>
			</tr>
			{% endfor %}
		</tbody>
</table>