{% extends 'base-adm.html' %}

{% block primary %}

<table class="table">
    <thead>
        <tr>
            <th><a href="{% url web_site.apps.press.views.add_article %}"><i class="icon-plus"></i></a></th>
            <th></th>
            <th>Title</th>
            <th>Publication</th>
            <th>Year</th>
            <th>Thumbnail</th>
           
        </tr>
    </thead>
        <tbody>
            {% for article in object_list %}
            <tr>
                <td><a href="delete/{{article.pk}}"><i class="icon-remove"></i></a> </td>
                <td><a href="edit/{{article.pk}}"><i class="icon-edit"></i></a></td>
                <td>{{article.title}}</td>
                <td>{{article.publication}}</td>
                <td>{{article.year}}</td>
                <td><img src="{{article.thumbnail.url_250x250}}"></td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>

{% endblock %}
