{% extends 'base-adm.html' %}

{% block primary %}

<table class="table">
    <thead>
        <tr>
            <th><a href="{% url createPage %}"><i class="icon-plus"></i></a></th>
            <th></th>
            <th>Article</th>
            <th>Page Number</th>
            <th>Thumbnail</th>
           
        </tr>
    </thead>
        <tbody>
            {% for page in object_list %}
            <tr>
                <td><a href="delete/{{page.pk}}"><i class="icon-remove"></i></a> </td>
                <td><a href="edit/{{page.pk}}"><i class="icon-edit"></i></a></td>
                <td>{{page.article}}</td>
                <td>{{page.pgnumber}}</td>
                <td><a href="{{ MEDIA_URL }}{{page.page}}" target="_blank">{{ page.page }}</a></td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>

{% endblock %}
