{% extends 'base.html' %}

{% block primary %}

<table class="table">
    <thead>
        <tr>
            
            <th>Artist</th>
            <th>Shop</th>
            <th>Website</th>
            
           
        </tr>
    </thead>
        <tbody>
            {% for artist in artists %}
            <tr>
               
                <td>{{artist.name}}</td>
                <td>{{artist.shop}}</td>
                <td><a href="{{artist.website}}" target="_blank">{{artist.website}}</a></td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>

{% endblock %}
