{% extends 'base.html' %}

{% block primary %}

{% for page in pages %}
	<li>{{page.article}} | {{page.page}} | {{page.thumbnail}} | {{page.pgnumber}} | </li>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.pgnumber }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
