{% extends 'base.html' %}

{% block primary %}


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <!-- <div class="modal-footer">
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div> -->
</div>


<ul class="thumbnails">
	
	{% for article in articles %}
		{% ifchanged article.year %} <div class="row span12"><hr> <h3 style="padding-bottom:15px">{{ article.year }}</h3></div> {% endifchanged %}

		
			<li class="span3">
				<div class="thumbnail" id="gallery-{{ article.pk }}" data-toggle="modal-gallery" data-target="#modal-gallery">
					
					<a href="{{ MEDIA_URL }}{{article.thumbnail}}" rel="gallery"><img src="{{ MEDIA_URL }}{{article.thumbnail}}" alt=""></a>
				
						{% for page in article.page_set.all %}
						<a href="{{ MEDIA_URL }}{{page.page}}" title="{{page.thumbnail}} | {{page.pgnumber}}" rel="gallery"></a>
						{% endfor %}
						<div class="caption" >
							<blockquote>
								<div><strong>{{article.title}}</strong></div>
								<div><strong>{{article.publication}}</strong></div>
								<div><strong>{{article.year}}</strong></div>
							</blockquote>	
						</div>
				</div>
			</li>
		
{% endfor %}
</ul>



{% endblock %}
