{% load staticfiles %}
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>Bay Area Convention of the Tattoo Arts SFO 2012</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">

  <!-- Le styles -->
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <!--  blueimp image gallery -->
 {#    <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css"> #}
    <!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
    <link rel="stylesheet" href="{% static "css/bootstrap-image-gallery.min.css" %}">
    <!-- end blueimp image gallery -->
  <!-- <style>
  body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  </style> --> 
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link href="{% static "ico/favicon.ico" %}" rel="shortcut icon">
  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href="{% static "ico/apple-touch-icon-114-precomposed.png" %}" sizes="114x114" rel="apple-touch-icon-precomposed">
  <link href="{% static "ico/apple-touch-icon-72-precomposed.png" %}" sizes="72x72" rel="apple-touch-icon-precomposed">
  <link href="{% static "ico/apple-touch-icon-57-precomposed.png" %}" rel="apple-touch-icon-precomposed">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#top">2012 Bay Area Tattoo Convention</a>
          <div pull-right="" class="nav-collapse pull-left">
            <ul class="nav">
              <li class="active"><a href="#top">Home</a></li>
            <li><a href="#artists">Artists</a></li>
            <li><a href="#about">Location</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="#press">Press</a></li>
            <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



  <div class="container">
    {% block primary %}{% block content %}

    {% endblock %}{% endblock %}

    </div> <!-- /container -->

    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap-transition.js" %}"></script>
    <script src="{% static "js/bootstrap-alert.js" %}" ></script>
    <script src="{% static "js/bootstrap-modal.js" %}" ></script>
    <script src="{% static "js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "js/bootstrap-tab.js" %}"></script>
    <script src="{% static "js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "js/bootstrap-popover.js" %}"></script>
    <script src="{% static "js/bootstrap-button.js" %}"></script>
    <script src="{% static "js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "js/bootstrap-typeahead.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
    <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
    <script src="{% static "js/bootstrap-image-gallery.min.js" %}"></script>

  

</body></html>