{% load crispy_forms_tags %}
{% load staticfiles %}


<html lang="en">
  <head>
  <meta charset="utf-8">
  <title></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">

  <!-- Le styles -->
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <!-- <style>
  body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  </style> --> 
  <link rel="stylesheet" href="{% static "css/bootstrap-image-gallery.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link href="{% static "ico/favicon.ico" %}" rel="shortcut icon">
  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href="{% static "ico/apple-touch-icon-114-precomposed.png" %}" sizes="114x114" rel="apple-touch-icon-precomposed">
  <link href="{% static "ico/apple-touch-icon-72-precomposed.png" %}" sizes="72x72" rel="apple-touch-icon-precomposed">
  <link href="{% static "ico/apple-touch-icon-57-precomposed.png" %}" rel="apple-touch-icon-precomposed">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#top"></a>
          <div pull-right="" class="nav-collapse pull-left">
            <ul class="nav">
              <li class="active"><a href="#top">Home</a></li>
            <li><a href="#artists">Artists</a></li>
            <li><a href="#about">Location</a></li>
            <li><a href="#attractions">Special Attractions</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="#press">Press</a></li>
            <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



  <div class="container">

      {% block primary %}{% block content %}

      <div class="row">

      <div id="top" class="offset1 hero-unit span8">

        <h2><small>The Blah blah</small> Convention <small>of the</small></h2>
        <h1>blah blah</h1>
        <h2>October 26&ndash;27&ndash;28, 2012</h2>
        <h3>blah blah blah</h3>
      </div>
    </div>


    <div class="row">

      <div class="span12">
        <div id="carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item">
              <img src="{% static "img/feature/Image000-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item">
              <img src="{% static "img/feature/Image001-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item">
              <img src="{% static "img/feature/Image002-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item">
              <img src="{% static "img/feature/Image003-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item">
              <img src="{% static "img/feature/Image004-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item active">
              <img src="{% static "img/feature/Image005-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item">
              <img src="{% static "img/feature/Image006-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item">
              <img src="{% static "img/feature/Image007-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item">
              <img src="{% static "img/feature/Image008-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item">
              <img src="{% static "img/feature/Image009-2.jpg" %}" height="427" width="640" alt="">
            </div>
            <div class="item">
              <img src="{% static "img/feature/Image010-2.jpg" %}" height="427" width="640" alt="">
            </div>
            
          </div>
          <a class="left carousel-control" href="#carousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#carousel" data-slide="next">›</a>
        </div>
      </div>
        <div class="span12">

          <div id="artists" class="span4 ev-label">

            <h1>Artists</h1>
          </div>
          <div class="span6 well">

            <div class="row">
              <div class="span6">
                <h1>2012 Artists</h1>

                <div>
                  <blockquote>
                  <div><strong>View the list of <a href="#artists-table">attending artists</a></strong></div>         
                  </blockquote>
                </div>
              </div>
            </div>
        </div>
        </div>

        <div class="span12">

          <div class="span4 ev-label">

            <h1>Hours </h1><br>
            <h1> & Price</hr>
          </div>

          <div class="span5 well">

            <div class="row">

              <div class="span5">
                <h1>October 26&ndash;27&ndash;28, 2012</h1>
              <div> 
                <blockquote>
                  <div><strong>Friday:</strong> 5PM &ndash; 11PM</div>

                  <div><strong>Saturday:</strong> 11AM &ndash; 11PM</div>

                  <div><strong>Sunday:</strong> 11AM &ndash; 6PM</div>

                  <div><strong>Admission:</strong> $20 per day</div>

                </blockquote>

              </div>
              </div>
            </div>
        </div>
        </div>

        <div class="span12">


          <div id="about" class="span4 ev-label">

            <h1>Location</h1>
          </div>

          <div class="span4 well">

            <div class="row">

              <div class="span4">
                <h1>blah blah blah</h1>
                <div>
                  <blockquote>
                    <div>blah blah blah</div>
                    <div>blah, blah blah</div>
                    <div><a href="#location-info">Map It!</a></div>
                  </blockquote>
                </div>
              </div>
            </div>
        </div>
        </div>
        <div class="span12">

          <div id="attractions" class="span4 ev-label">

            <h1>Special</h1><br>
            <h1>Attractions</h1>
          </div>
          <div class="span6 well">

            <div class="row">
              <div class="span6">
                <h1>Seminar by blah blah</h1>

                <div>
                  <blockquote>
                  <div><strong>Come and watch master of black and grey blah
                          blah talk about portrait tattooing. Space is limited,
                          information on registration available <a
                              href="http://blah.blah.com/?page_id=blah">here: </a></strong></div>         
                  </blockquote>
                  <div>
                    <h1>blah Convention PreParty</h1>
                    <img src="{% static "img/party-flyer-2012.jpg" %}" height="612" width="612" alt="">
                  </div>

                <br>
                <h1>Limited Edition T-shirt by blah blah and blah </h1>
                <div>
                  <blockquote><strong>available at the convention</strong></blockquote>
                </div>
              
                <br>
                <h1>Poster design by blah blah</h1>

                
                  <blockquote>
                  <div>
                    <strong>Limited Edition signed and numbered prints of poster artwork will be available at the convention</strong>
                  </div>         
                  </blockquote> 
                <br>
                <h1>blah blah book signing and appearance</h1>

                
                  <blockquote>
                  <div>
                    <strong>Come meet this living blah blah legend!</strong>
                  </div>         
                  </blockquote>   
                </div>    
                </div>
              </div>
            </div>
        </div>
        </div>


    </div>

    <div class="belly">

    </div>

    <!-- Artists table -->
    <div class="span12" id="artists-table">
    <div>
        <div class="row">
          <h1>2012 blah blah Convention of the blah blah | Artists </h1>
        </div>
    <table class="table">
    <thead>
        <tr>
            
            <th>Artist</th>
            <th>Shop</th>
            <th>Website</th>
            
           
        </tr>
    </thead>
        <tbody>
            {% for artist in artists %}
            <tr>
               
                <td>{{artist.name}}</td>
                <td>{{artist.shop}}</td>
                <td><a href="{{artist.website}}" target="_blank">{{artist.website}}</a></td>

                
            </tr>

            {% endfor %}
             
    </tbody>
    </table>
    <div id="row">
      <h2 class="offset2">Artists list subject to change</h2>
    </div>
    <!-- End Table -->

    <div class="belly">

    </div>
  </div>
    <!-- Location / Google Maps -->
    <div id="location-info">
        <div class="row">
          <h1>2012 blah blah Convention of the blah blah | Location </h1>
        </div>

          <div class="row">
            <div class="well">
              <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1333+Bayshore+Highway+Burlingame,+CA+94010&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=64.92025,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=1333+Bayshore+Hwy,+Burlingame,+California+94010&amp;t=m&amp;ll=37.603828,-122.372589&amp;spn=0.03264,0.094328&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1333+Bayshore+Highway+Burlingame,+CA+94010&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=64.92025,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=1333+Bayshore+Hwy,+Burlingame,+California+94010&amp;t=m&amp;ll=37.603828,-122.372589&amp;spn=0.03264,0.094328&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
          </div>
          <br />

          <div class="row well">
            <h1>Hotel Information</h1>
            <h2>Discount rooms are limited</h2>
          </div>

    </div>
    <!--- End Location /Google Maps -->

      <div class="belly">

    </div>

    <!-- Sponsor -->
    <div id="sponsors">
        <div class="row">
          <h1>Sponsors </h1>
        </div>

          <div class="row">
            <div class="well span8 offset2">
              <img class="sponsors" src="{% static "img/sponsors.gif" %}" />
            </div>
          </div>
         
    </div>
    <!--- End Sponsor -->
<div class="belly">
    </div>
    <div class="belly">
    </div>
    <!-- PRESS -->


    <div id="press">
        <div class="row">
          <h1>Press </h1>
        </div>

          {% block gallery %}
              {% include '_gallery.html' %}
            {% endblock %}
            
          
         
    </div>

    

    <!--- End Press -->






    <div class="belly">
    </div>
    <div class="belly">
    </div>
    <div class="belly">
    </div>



    <!-- END PRESS -->

    <!-- CONTACT -->
    <div class="belly">
    </div>
    <div class="span12" id="contact">

      <div class="span4 ev-label">
        <h1>Contact</h1>
      </div>
      <div class="span4">

        <div>

      {% block form %}
          {% include '_form.html' %}
      {% endblock %}


        </div>
      </div>
    </div>
    <div class="belly"></div>
  </div> 

   <div class="belly">
    </div>
    <div class="belly">
    </div>
    <div class="belly">
    </div>

      {% endblock %}{% endblock %}

    </div> <!-- /container -->

    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap-transition.js" %}"></script>
    <script src="{% static "js/bootstrap-alert.js" %}" ></script>
    <script src="{% static "js/bootstrap-modal.js" %}" ></script>
    <script src="{% static "js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "js/bootstrap-tab.js" %}"></script>
    <script src="{% static "js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "js/bootstrap-popover.js" %}"></script>
    <script src="{% static "js/bootstrap-button.js" %}"></script>
    <script src="{% static "js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "js/bootstrap-typeahead.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
    <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
    <script src="{% static "js/bootstrap-image-gallery.min.js" %}"></script>

  

</body></html>
