{% extends 'base.html' %}

{% block primary %}

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Sponsor</th>
            <th>Bio</th>
            <th>Logo</th>
           
        </tr>
    </thead>
        <tbody>
            {% for sponsor in sponsors %}
            <tr>
                <td></td>
                <td></td>
                <td>{{sponsor.name}}</td>
                <td>{{sponsor.bio}}</td>
                <td><a href="{{sponsor.website}}" target="_blank"><img src="/media/{{sponsor.logo}}"></a></td>

                
            </tr>

            {% endfor %}
             
    </tbody>
</table>

{% endblock %}